---
http_interactions:
- request:
    method: get
    uri: "<API-URL>"
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Remaining:
      - '999'
      X-Ratelimit-Reset:
      - '1678243264'
      Etag:
      - W/"116-jnDuMpjju89+9j7e0BqkdFsVRjs"
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "userId": 1,
          "id": 2,
          "title": "qui est esse",
          "body": "est rerum tempore vitae\nsequi sint nihil reprehenderit dolor beatae ea dolores neque\nfugiat blanditiis voluptate porro vel nihil molestiae ut reiciendis\nqui aperiam non debitis possimus qui neque nisi nulla"
        }
  recorded_at: Thu, 09 Mar 2023 11:58:42 GMT
[...]
- request:
    method: get
    uri: https://jsonplaceholder.typicode.com/posts/3
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Remaining:
      - '998'
      X-Ratelimit-Reset:
      - '1678243264'
      Etag:
      - W/"11b-USacuIw5a/iXAGdNKBvqr/TbMTc"
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "userId": 1,
          "id": 3,
          "title": "ea molestias quasi exercitationem repellat qui ipsa sit aut",
          "body": "et iusto sed quo iure\nvoluptatem occaecati omnis eligendi aut ad\nvoluptatem doloribus vel accusantium quis pariatur\nmolestiae porro eius odio et labore et velit aut"
        }
  recorded_at: Thu, 09 Mar 2023 12:01:02 GMT
- request:
    method: get
    uri: https://jsonplaceholder.typicode.com/posts/4
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Remaining:
      - '997'
      X-Ratelimit-Reset:
      - '1678269844'
      Etag:
      - W/"10e-HqG77o1RAmatkSwR36f4+Io6g1E"
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "userId": 1,
          "id": 4,
          "title": "eum et est occaecati",
          "body": "ullam et saepe reiciendis voluptatem adipisci\nsit amet autem assumenda provident rerum culpa\nquis hic commodi nesciunt rem tenetur doloremque ipsam iure\nquis sunt voluptatem rerum illo velit"
        }
  recorded_at: Thu, 09 Mar 2023 12:02:02 GMT
recorded_with: VCR 4.0.0
