---
http_interactions:
- request:
    method: get
    uri: "<API-URL>"
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Remaining:
      - '998'
      X-Ratelimit-Reset:
      - '1678243264'
      Etag:
      - W/"11b-USacuIw5a/iXAGdNKBvqr/TbMTc"
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "userId": 1,
          "id": 3,
          "title": "ea molestias quasi exercitationem repellat qui ipsa sit aut",
          "body": "et iusto sed quo iure\nvoluptatem occaecati omnis eligendi aut ad\nvoluptatem doloribus vel accusantium quis pariatur\nmolestiae porro eius odio et labore et velit aut"
        }
  recorded_at: Thu, 09 Mar 2023 11:53:23 GMT
recorded_with: VCR 4.0.0
